<div style="background-color: rgb(247, 223, 0);">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
    <img class="rounded-circle" src="https://media.licdn.com/dms/image/D5603AQGav96OkEn1MQ/profile-displayphoto-shrink_200_200/0/1664564983143?e=1712188800&v=beta&t=wzsnjYB3B_S7qLOeLeZC_0rRjPnqXF0m_dRbj2yUvJ0" alt="Picture of Griffin Kiesecker" width="70" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <h1>Griffin Kiesecker - DevOps Engineer </h1>
    <div class="collapse navbar-collapse" id="navbarText" style="text-align: justify">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/experience"> EXPERIENCE AND EDUCATION </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects"> CERTIFICATION AND PROJECTS </a>
      </li>
    </ul>
    </div>
  </nav>
</div>