<%- include('../partials/header'); -%>
<%- include('../partials/menu') %>
<body id ="body" style="background-color: rgb(57, 56, 56);">
  <main>
    <div style="width: 50%; position: absolute; left: 50%;top:50%;transform: translate(-50%, -50%);">
      <h1 style="text-align: center;" class="text-white"> Report a Pillow </h1>
      <form action="/report" method="post">
        <br>
        <div class="form-group">
          <input type="text" class="form-control" id="PillowName" placeholder="Pillow Name">
        </div>
        <div class="form-group">
          <select class="form-control" id="PillowColor">
            <option> Select Color of Pillow </option>
            <option>Red</option>
            <option>Orange</option>
            <option>Yellow</option>
            <option>Green</option>
            <option>Blue</option>
            <option>Purple</option>
            <option>White</option>
            <option>Black</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" id="PillowDescription" rows="5" placeholder="Pillow Description"></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="PillowLocation" placeholder="Pillow Location (Enter as LAT:LNG)">
        </div>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-primary">Report Pillow</button>
        </div>
        
      </form>
    </div>
  </main>
  <%- include('../partials/footer'); -%>
</body>
